
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
!docker-compose/apim-is-as-km-with-analytics/dockerfiles/is-as-km/dropins/*.jar
*.war
!docker-compose/apim-is-as-km-with-analytics/dockerfiles/is-as-km/webapps/*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# any packs that would be included
*.exe
*.tar.gz
*.zip

# IntelliJ IDEA
.idea/
*.iml

# macOS
.DS_Store

rat.txt

# exclude everything
**/files/*

# exception to the rule
!**/files/.gitkeep
