.pagination {
    margin: 10px 16px;
}

.pagination ul > li > a, .pagination ul > li > span {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: white;
    border: 1px solid #ddd;
    border-left-width: 0;
    color: rgba(0, 0, 0, 0.67);
}

.paginationContainer {
    margin: -2px 0px;
}

.canvas {
    height: 25px;
}

.vega {
    margin-top: 2px;
    margin-left: -21px;
}

.form-control {
    width: 111px;
}

.col-sm-12 table {
    margin-left: 14px;
    margin-top: 9px;
}

.control-label {
    font-weight: 400;
    margin-right: 5px;
    margin-top: -5px;
}

.legendText {
    font-size: x-small;
}

.legend {
    margin-left: -58px;
    margin-top: -159px;
    position: absolute;
}

.textContext {
    margin-left: 5px;
}

a {
    color: #3c3c3c;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.link {
    cursor: pointer;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: rgb(229, 242, 255);

}

.tooltip-inner {
    background-color: rgb(229, 242, 255);
    color: black;
    word-wrap: break-word;
}

.tooltip.in {
    opacity: 1;
    filter: alpha(opacity=100);
}

ul.legendText {
    margin-top: -6px;
}
