# Copyright (c) 2019, WSO2 Inc. (http://www.wso2.org) All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

version: '2.3'
services:
  mysql:
    image: mysql:5.7.29
    ports:
      - 3306
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./mysql/scripts:/docker-entrypoint-initdb.d
      - ./mysql/conf/my.cnf:/etc/mysql/my.cnf
    ulimits:
      nofile:
        soft: 20000
        hard: 40000
    command: [--ssl=0]
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-uroot", "-proot"]
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 80s
  am-analytics-worker:
    image: docker.wso2.com/wso2am-analytics-worker:3.1.0
    ports:
      - "9091:9091"
      - "9444:9444"
    healthcheck:
      test: ["CMD", "nc", "-z","localhost", "9444"]
      interval: 10s
      start_period: 20s
      retries: 5
    depends_on:
      mysql:
        condition: service_healthy
    volumes:
      - ./apim-analytics-worker:/home/wso2carbon/wso2-config-volume
  api-manager:
    image: docker.wso2.com/wso2am:3.1.0
    healthcheck:
      test: ["CMD", "nc", "-z","localhost", "9443"]
      interval: 10s
      start_period: 100s
      retries: 10
    depends_on:
      mysql:
        condition: service_healthy
      am-analytics-worker:
        condition: service_healthy
    volumes:
      - ./apim/config:/home/wso2carbon/wso2-config-volume
      - ./apim/artifact:/home/wso2carbon/wso2-artifact-volume
    ports:
      - "9763:9763"
      - "9443:9443"
      - "8280:8280"
      - "8243:8243"
  am-analytics-dashboard:
    image: docker.wso2.com/wso2am-analytics-dashboard:3.1.0
    ports:
      - "9643:9643"
    healthcheck:
      test: ["CMD", "nc", "-z","localhost", "9643"]
      interval: 10s
      retries: 5
      start_period: 20s
    depends_on:
      mysql:
        condition: service_healthy
      api-manager:
        condition: service_healthy
    volumes:
      - ./apim-analytics-dashboard/config:/home/wso2carbon/wso2-config-volume
      - ./apim-analytics-dashboard/artifact:/home/wso2carbon/wso2-artifact-volume
